{% extends 'skud/base.html' %}

{% block title %}
  Список устройств
{% endblock %}

{% block saidbar %}
<li>
  <a href="/device_list" class="nav-link active">
    Устройства
  </a>
</li>
<li>
  <a href="/search_devices_list" class="nav-link text-white">
    Поиск устройств
  </a>
</li>
{% endblock %}

{% block content %}
<p><a class="btn btn-primary" href="/add_device" role="button">Добавить устройство</a></p>

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="row">Номер</th>
        <th scope="col">Название</th>
        <th scope="col">Mac</th>
        <th scope="col">IP адресс</th>
        <th scope="col">Серийный номер</th>
        <th scope="col">Девайс</th>
        <th scope="col">Главная дверь</th>
      </tr>
    </thead>

    
        <tbody>
          {% for device in devices %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{device.device_name}}</td>
            <td>{{device.device_mac}}</td>
            <td>{{device.device_ip}}</td>
            <td>{{device.serial_number}}</td>
            <td>{{device.device_type}}</td>
            <td>{{device.main_door}}</td>
            <td class="btn-lg">
            <a href="/edit_device/{{device.id}}"><i class="btn-lg bi bi-pencil-square btn-outline-secondary" title="Редактировать"></i></a>
            <a href="#" id="time" name="{{device.id}}" onclick="time({{device.id}})"><i class="btn-lg bi bi-stopwatch btn-outline-secondary" title="Установить время"></i></a>
            <a href="/delete_device/{{device.device_ip}}"><i class="btn-lg bi bi-trash btn-outline-secondary" title="Удалить устройство"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    
</table>
{% endblock %}

{% block js %}
<script>
  function time(id){
    $.ajax({
    url: `device_list/${id}/time`,
    type: 'get',
    dataType: 'json',
    success: function (data) {
      alert(data.message);
    }
    });
  }
</script>
{% endblock %}

