{% extends 'skud/base.html' %}

{% block title %}
    Отделы
{% endblock %}

{%block saidbar%}
    <li class="nav-item">
        <a href="/users" class="nav-link text-white" aria-current="page">
        Сотрудники
        </a>
    </li>
    <li>
        <a href="/department_list" class="nav-link active">
        Отделы
        </a>
    </li>
{% endblock %}

{% block content %}
    <p>
        <button type="button" class="btn btn-primary js-create-department">
        <span class="glyphicon glyphicon-plus"></span>
        New book
        </button>
    </p>
    {% load mptt_tags %}
    <ol class="list-group list-group-numbered">
        {% recursetree department  %}
            <li class="list-group-item">
                {{ node.name }}
                {% if not node.is_leaf_node %}
                    <ol class="children list-group list-group-numbered">
                        {{ children }}
                    </ol>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ol>

    <div class="modal fade" id="modal-department">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
{% endblock %}