{% extends 'skud/base.html' %}

{% block title %}
  Настройки дверей
{% endblock %}

{% block saidbar %}
<li>
  <a class="nav-link text-white" href="/access_control">Уровень доступа</a></li>
</li>
<li>
  <a href="/door_settings" class="nav-link active">
    Настройки дверей
  </a>
</li>
<li>
  <a class="nav-link text-white" href="/live_mode">Мониторинг</a></li>
</li>
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="row">Номер двери</th>
        <th scope="col">Название двери</th>
        <th scope="col">Название устройства</th>
        <th scope="col">Продолжительность открытия двери</th>
        <th scope="col">Задержка статуса двери</th>
        <th scope="col">Интервал считывания</th>
        <th scope="col">Статус двери</th>
        <th scope="col">Зона свободного прохода</th>
      </tr>
    </thead>

    
        <tbody>
          {% for door in doors %}
          <tr>
            <td>{{door.door_number}}</td>
            <td>{{door.name_door}}</td>
            <td>{{door.device_name}}</td>
            <td>{{door.driver_time}}</td>
            <td>{{door.detector_time}}</td>
            <td>{{door.inter_time}}</td>
            <td>{{door.sensor_type}}</td>
            <td>{{door.keep_open_time}}</td>
            <td class="btn-lg ">
              
            <a href="#" class="js_door_setting" data-url="{% url 'quantum:door_edit' door.id %}"><i class="btn-lg bi bi-pencil-square btn-outline-secondary" title="Редактировать"></i></a>
            <a href="/door_settings/{{door.id}}/{{door.door_number}}/255"><i class="btn-lg bi bi-door-open btn-outline-secondary" title="Открыть дверь"></i></a>
            <a href="/door_settings/{{door.id}}/{{door.door_number}}/0"><i class="btn-lg bi bi-door-closed btn-outline-secondary" title="Закрыть дверь"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    
</table>

<div class="modal fade" id="modal-door">
  <div class="modal-dialog">
      <div class="modal-content">
      </div>
  </div>
</div>
{% endblock %}




