{% extends 'skud/base.html' %}

{% block title %}
  Настройки дверей
{% endblock %}

{% block saidbar %}
<li>
  <a class="nav-link text-white" href="/access_control">Уровень доступа</a></li>
</li>
<li>
  <a href="/door_settings" class="nav-link active">
    Настройки дверей
  </a>
</li>
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="row">Номер двери</th>
        <th scope="col">Название двери</th>
        <th scope="col">Название устройства</th>
        <th scope="col">Продолжительность открытия двери</th>
        <th scope="col">Задержка статуса двери</th>
        <th scope="col">Интервал считывания</th>
        <th scope="col">Статус двери</th>
      </tr>
    </thead>

    {% for door in doors %}
        <tbody>
          <tr>
            <td>{{door.door_number}}</td>
            <td>{{door.name_door}}</td>
            <td>{{door.device_name}}</td>
            <td>{{door.driver_time}}</td>
            <td>{{door.detector_time}}</td>
            <td>{{door.inter_time}}</td>
            <td>{{door.sensor_type}}</td>
            <td class="btn-lg ">
            <a href="#"><i class="btn-lg bi bi-pencil-square btn-outline-secondary" title="Редактировать"></i></a>
            <a href="#"><i class="btn-lg bi bi-door-open btn-outline-secondary" title="Открыть дверь"></i></a>
            <a href="#"><i class="btn-lg bi bi-door-closed btn-outline-secondary" title="Закрыть дверь"></i></a>
            </td>
          </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}

