{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Images icon -->
    <!-- <a class="navbar-brand" href="#">
        <img src="{% static 'images/photo_2020-05-04_19-13-22.png' %}" alt="" width="40" height="30" />
    </a> -->
    <!-- Navbar -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/users_list">Quantum Smart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/users_list' %}active{% endif %}" aria-current="page" href="/users_list">Сотрудники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/device_list' %}active{% endif %}" href="/device_list">Устройства</a>
                </li>

                <li class="nav-item">
                        <a class="nav-link {% if request.path == '/access_control' %}active{% endif %}" href="/access_control">Контроль доступа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/reports' %}active{% endif %}" href="/reports">Отчеты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Система</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
