{% extends 'skud/base.html' %}

{% block title %}
  Поиск устройств
{% endblock %}

{% block saidbar %}
<li>
  <a href="/device_list" class="nav-link text-white">
    Устройства
  </a>
</li>
<li>
  <a href="/search_devices_list" class="nav-link active">
    Поиск устройств
  </a>
</li>
{% endblock %}

{% block content %}
<p><a class="btn btn-primary" href="/search_devices_list/all" role="button">Поиск</a></p>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="row">Номер</th>
      <th scope="col">Mac</th>
      <th scope="col">IP адресс</th>
      <th scope="col">Серийный номер</th>
      <th scope="col">Девайс</th>
      <th scope="col">Устройство добавлено</th>
      <th scope="col">Добавить / Изменить IP</th>
    </tr>
  </thead>
    {% include 'skud/views/search_logic.html' %}
{% endblock %}
  