{% extends 'skud/base.html' %}

{% block title %}
  Поиск устройств
{% endblock %}

{% block content %}
  
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="row">Номер</th>
      <th scope="col">Mac</th>
      <th scope="col">IP адресс</th>
      <th scope="col">Серийный номер</th>
      <th scope="col">Девайс</th>
      <th scope="col">Устройство добавлено</th>
      <th scope="col">Добавить / Изменить IP</th>
    </tr>
  </thead>
    
    {% if device_counts %}
        <tbody> 
          {% for value in results %}
          <tr>
              {% for key, value in value.items %}
              <td>{{value}}</td>
              {% endfor %}
            <td>
              <a href="#"><i class="btn-lg bi bi-plus-square btn-outline-secondary" title="Добавить"></i></a>
              <a href="#"><i class="btn-lg bi bi-pencil-square btn-outline-secondary" title="Редактировать IP"></i></a>
            </td>
          </tr>
          {% endfor %}
          {% if device_counts %}
            <tr>
              <td>Найдено устройств: {{ device_counts }}</td>
            </tr>
          {% endif %}
        </tbody>
    {% else %}
    <tbody> 
      <tr>
        <td> Не найдено ни одного устройства </td>
      </tr>
    </tbody>
    {% endif %}
      <!-- Добавлено да или нет и поменять ip и добавить -->
  </table>
{% endblock %}
  