{% extends 'skud/base.html' %}

{% block title %}
    Список Сотрудников
{% endblock %}

{%block saidbar%}
    <li class="nav-item">
        <a href="/users_list" class="nav-link active" aria-current="page">
        Сотрудники
        </a>
    </li>
    <li>
        <a href="/department_list" class="nav-link text-white">
        Отделы
        </a>
    </li>
{% endblock %}

{% block content %}
<p>
    <a href='/users_list/user_create' type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
    Добавить
    </a>
    <a href='/users_list/user_create' type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Фильтр по отделам
    </a>
    <a href='/users_list/sinc' type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Синхронизация
    </a>
</p>

<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr>
            <th scope="row">Номер сотрудника</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Номер карты</th>
            <th scope="col">Отдел</th>
            <th scope="col">Доступ</th>
        </tr>
    </thead>

    {% for user in posts %}
        <tbody>
            <tr>
                <td>{{user.user_id}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.name}}</td>
                <td>{{user.card_number}}</td>
                <td>{{user.department.name}}
                <!-- {% for item in departments %}
                    {% if item.id == user.department_id %}
                        {{item.name}}
                    {% endif %}
                {% endfor %} -->
                </td>
                <td>{{user.access_id}}</td>
                <td class="btn-lg ">
                <a href="#"><i class="btn-lg bi bi-pencil-square btn-outline-secondary" title="Редактировать"></i></a>
                <a href="/user_list/{{user.user_id}}/delete"><i class="btn-lg bi bi-trash btn-outline-secondary" title="Удалить"></i></a>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>
{% include "paginator.html" with page=posts %}
{% endblock %}