{% load widget_tweaks %}

{% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label}}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}

<!-- <div class="modal-body">
        


    <div class="form-group">
        <label for="id_name">Название</label>
        <input type="text" maxlength="64"class="form-control" required="">
        
    </div>

    <div class="form-group">
        <label for="id_parent">Родитель</label>
        <select class="form-control">
            <option selected>Родитель</option>
            {% for dep in department %}
            <option value="{{dep.id}}">{{dep.name}}</option>
            {% endfor %}
            

        </select>
        
    </div>
</div> -->

